/AULAS/WEB/WebApplication1/nbproject/private/
/AULAS/WEB/WebApplication1/build/
/AULAS/WEB/WebApplication1/dist/
/AULAS/WEB/WebApplication2/nbproject/private/
/AULAS/WEB/WebApplication2/build/
/AULAS/WEB/WebApplication3/nbproject/private/
/AULAS/WEB/WebApplication3/build/
/AULAS/WEB/FileUpload/target/
/AULAS/PROG2/P2_JFRAME6_CAD/nbproject/private/
/AULAS/PROG2/P2_JFRAME6_CAD/build/
/AULAS/PROG2/P2_JFRAME6_CAD/dist/
/AULAS/WEB/JSP_EX1/nbproject/private/
/AULAS/WEB/JSP_EX1/build/
/AULAS/WEB/JSP_EX1/dist/
/AULAS/WEB/JSP_EX2/nbproject/private/
/AULAS/WEB/JSP_EX2/build/
/AULAS/WEB/JSP_EX2/dist/
/AULAS/WEB/JSP_EX3/nbproject/private/
/AULAS/WEB/JSP_EX3/build/
/AULAS/WEB/JSP_EX3/dist/
/AULAS/WEB/JSP_EX4/nbproject/private/
/AULAS/WEB/JSP_EX4/build/
/AULAS/WEB/JSP_EX4/dist/
/AULAS/WEB/WebApplicationJSF/nbproject/private/
/AULAS/PROG2/JavaFrameAula6Ex1/nbproject/private/
/AULAS/PROG2/JavaFrameAula6Ex1/build/
/AULAS/PROG1/P1_EX6_Pessoa_File/nbproject/private/
/AULAS/PROG1/P1_EX6_Pessoa_File/build/
/AULAS/PROG1/P1_EX7_Pessoa_File/nbproject/private/
/AULAS/PROG1/P1_EX7_Pessoa_File/build/
/AULAS/WEB/JSFex1/nbproject/private/
/AULAS/WEB/JSFex1/build/
/AULAS/WEB/JSFEx1/nbproject/private/
/AULAS/WEB/JSFEx1/build/
/AULAS/WEB/JSFEx1/dist/
/AULAS/ExJSF/JsfJpaCrud/nbproject/private/